<a href="https://colab.research.google.com/github/BustamJos3/learningPyspark/blob/main/learningPyspark_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 15.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=966cf788f1c5199240cd19e6845c4b8059cc53a193517b77fbe79594a8ddae4e
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
import pyspark

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('testPyspark_0.csv', delimiter=';')

    Name  Age
0   Jhon   31
1  Lucas   30
2  Susan   29

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv('testPyspark_0.csv',sep=';')

In [ ]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| Jhon| 31|
|Lucas| 30|
|Susan| 29|
+-----+---+

In [ ]:
df_pyspark=spark.read.option('header','true').csv('testPyspark_0.csv', sep=';')

In [ ]:
df_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
| Jhon| 31|
|Lucas| 30|
|Susan| 29|
+-----+---+

In [ ]:
df_pyspark.head()

Row(Name='Jhon', Age='31')

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

# Lecture 2
* Pyspark DFrame
* Readind dataset
* Checking the datatypes of the cols (schema)
* Selection cols and indexing
* Check **Describe** option, silimar to Pandas
* Add cols
* Drop cols
* Rename cols

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark= SparkSession.builder.appName('DataFrame').getOrCreate()

In [ ]:
spark

### Read 1

In [ ]:
#read dataset
df_pyspark=spark.read.option('header','true').csv('testPyspark_0.csv', sep=';', inferSchema=True)
df_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
| Jhon| 31|
|Lucas| 30|
|Susan| 29|
+-----+---+

In [ ]:
# print schema: show the datatypes, similar to .info in Pandas
df_pyspark.printSchema() # as default, datatypes will be strings. set inferSchema on reading

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

### Read 2

In [3]:
df_pyspark=spark.read.csv('testPyspark_0.csv',sep=';', header=True,inferSchema=True)
df_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
| Jhon| 31|
|Lucas| 30|
|Susan| 29|
+-----+---+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

## Select cols and indexing

In [ ]:
df_pyspark.columns

['Name', 'Age']

In [ ]:
df_pyspark.head()

Row(Name='Jhon', Age=31)

In [ ]:
df_pyspark.head(3)

[Row(Name='Jhon', Age=31),
 Row(Name='Lucas', Age=30),
 Row(Name='Susan', Age=29)]

In [ ]:
# select cols
df_pyspark.select('Name')

DataFrame[Name: string]

In [ ]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
| Jhon|
|Lucas|
|Susan|
+-----+

In [ ]:
df_pyspark.select(['Name','Age'])

DataFrame[Name: string, Age: int]

In [ ]:
df_pyspark.select(['Name','Age']).show()

+-----+---+
| Name|Age|
+-----+---+
| Jhon| 31|
|Lucas| 30|
|Susan| 29|
+-----+---+

In [ ]:
df_pyspark['Name']

Column<'Name'>

In [ ]:
df_pyspark['Name'].show()

TypeError: ignored

## Check dtypes

In [ ]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

## Check Describe option

In [ ]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string]

In [4]:
df_pyspark.describe().show()

+-------+-----+----+
|summary| Name| Age|
+-------+-----+----+
|  count|    3|   3|
|   mean| null|30.0|
| stddev| null| 1.0|
|    min| Jhon|  29|
|    max|Susan|  31|
+-------+-----+----+

## Adding cols and Dropping cols
**Not in-place operation**

In [5]:
df_pyspark.withColumn('Experience', df_pyspark['Age']-20).show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| Jhon| 31|        11|
|Lucas| 30|        10|
|Susan| 29|         9|
+-----+---+----------+

In [6]:
df_pyspark=df_pyspark.withColumn('Experience', df_pyspark['Age']-20) #add Experience col

In [7]:
df_pyspark.withColumn('Experience after 2 years', df_pyspark['Experience']+2).show()

+-----+---+----------+------------------------+
| Name|Age|Experience|Experience after 2 years|
+-----+---+----------+------------------------+
| Jhon| 31|        11|                      13|
|Lucas| 30|        10|                      12|
|Susan| 29|         9|                      11|
+-----+---+----------+------------------------+

In [8]:
df_pyspark=df_pyspark.drop('Experience after 2 years')

In [9]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| Jhon| 31|        11|
|Lucas| 30|        10|
|Susan| 29|         9|
+-----+---+----------+

### Rename cols

In [ ]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|    Jhon| 31|        11|
|   Lucas| 30|        10|
|   Susan| 29|         9|
+--------+---+----------+

# Lecture 3

**Pyspark handling missing values**

* Dropping columns
* Dropping rows
* Various parameters in Dropping functionalities
* Handling missing values by mean, median and mode

In [2]:
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 21.4 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=db37900e8a5a57915edcdce5be369f5e5be23c07f0ba08e020f914b890eb8218
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [10]:
df_pyspark = df_pyspark.withColumn( 'Salary', df_pyspark['Age']*10000 )

In [11]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Jhon| 31|        11|310000|
|Lucas| 30|        10|300000|
|Susan| 29|         9|290000|
+-----+---+----------+------+

In [12]:
# Transform to .csv and save it
df_pyspark.toPandas().to_csv('test2.csv')

In [51]:
df_pyspark=spark.read.csv('test2.csv', header=True, inferSchema=True)

In [25]:
df_pyspark.show()

+---+------+----+----------+------+
|_c0|  Name| Age|Experience|Salary|
+---+------+----+----------+------+
|  0|  Jhon|  31|        11|310000|
|  1| Lucas|  30|        10|300000|
|  2| Susan|  29|         9|290000|
|  3| Mario|null|      null| 40000|
|  4|  null|  34|        10| 38000|
|  5|  null|  36|      null|      |
+---+------+----+----------+------+

In [52]:
df_pyspark = df_pyspark.drop('_c0')

In [30]:
# Drop rows with null values
df_pyspark.na.drop(how='any').show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Jhon| 31|        11|310000|
|Lucas| 30|        10|300000|
|Susan| 29|         9|290000|
+-----+---+----------+------+

In [33]:
# Threshold
df_pyspark.na.drop(thresh=2).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|  Jhon|  31|        11|310000|
| Lucas|  30|        10|300000|
| Susan|  29|         9|290000|
| Mario|null|      null| 40000|
|  null|  34|        10| 38000|
|  null|  36|      null|      |
+------+----+----------+------+

In [37]:
# Drop nan from specific col
df_pyspark.na.drop(how='any', subset=['Age']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Jhon| 31|        11|310000|
|Lucas| 30|        10|300000|
|Susan| 29|         9|290000|
| null| 34|        10| 38000|
| null| 36|      null|      |
+-----+---+----------+------+

In [46]:
# Filling the missing
df_pyspark.na.fill('Missing Values', ['Experience', 'Age']).show() #discriminates whether is a str or a numeric col

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|  Jhon|  31|        11|310000|
| Lucas|  30|        10|300000|
| Susan|  29|         9|290000|
| Mario|null|      null| 40000|
|  null|  34|        10| 38000|
|  null|  36|      null|      |
+------+----+----------+------+

In [47]:
# Fill with the mean
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|  Jhon|  31|        11|310000|
| Lucas|  30|        10|300000|
| Susan|  29|         9|290000|
| Mario|null|      null| 40000|
|  null|  34|        10| 38000|
|  null|  36|      null|      |
+------+----+----------+------+

In [50]:
from pyspark.ml.feature import Imputer #imputer call

imputer = Imputer( 
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=['{}_imputed'.format(c) for c in ['Age', 'Experience', 'Salary']]
 ).setStrategy('mean')

In [53]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|  Jhon|  31|        11|310000|         31|                11|        310000|
| Lucas|  30|        10|300000|         30|                10|        300000|
| Susan|  29|         9|290000|         29|                 9|        290000|
| Mario|null|      null| 40000|         32|                10|         40000|
|  null|  34|        10| 38000|         34|                10|         38000|
|  null|  36|      null|  null|         36|                10|        195600|
+------+----+----------+------+-----------+------------------+--------------+


# Pyspark DataFrames

* Filter operation
* &, |, ==
* ~