<a href="https://colab.research.google.com/github/BustamJos3/learningPyspark/blob/main/learningPyspark_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 43.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=6898acc128fd0482e8f360298ef70215c2f70bf6fc47557c7bd7561735f24f10
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
import pyspark

In [3]:
import pandas as pd

In [6]:
pd.read_csv('testPyspark_0.csv', delimiter=';')

    Name  Age
0   Jhon   31
1  Lucas   30
2  Susan   29

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [9]:
spark

In [13]:
df_pyspark=spark.read.csv('testPyspark_0.csv',sep=';')

In [15]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| Jhon| 31|
|Lucas| 30|
|Susan| 29|
+-----+---+

In [18]:
df_pyspark=spark.read.option('header','true').csv('testPyspark_0.csv', sep=';')

In [20]:
df_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
| Jhon| 31|
|Lucas| 30|
|Susan| 29|
+-----+---+

In [21]:
df_pyspark.head()

Row(Name='Jhon', Age='31')

In [22]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)